body{
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    position: absolute;
    font-family: SourceSansPro;
    right: 500px;
    top:70px;
    font-size: 2.4em;
    line-height: 1em;
    font-weight: normal;
    margin: 0  0 10px 0;
}

#us_table th, td{
	border-bottom:1px solid #ddd;
	border-collapse: collapse;
}

#us_table th{
	height: 40px;
	width: 170px;
	font-family: arial;
	background-color: #6AB82A;
}
#us_table td{
	height: 30px;
	text-align: center;
	font-family: sans-serif;
	font-size: medium;
}

#us_table td{
	height: 30px;
	text-align: center;
	font-family: sans-serif;
	font-size: medium;
}

#us_table td:hover{
	background-color: #f5f5f5;
}
li{
	list-style: none;
}
#btn{
    position: absolute;
    top:400px;
    left:300px;
    display: block;
	text-align: center;
	background-color: rgb(106,184,42);
    height:auto;
    cursor: pointer;
    width:60px;
    border-radius: 4px;
    color: white;
    padding: 10px 10px;
    margin: 8px 0;
    border: none
     
   ;
}
#load{
    position: absolute;
    left:90px;
	display: block;
	text-align: center;
	background-color: rgb(106,184,42);
    height:auto;
    cursor: pointer;
    width:60px;
    border-radius: 4px;
    color: white;
    padding: 10px 10px;
    margin: 8px 0;
    border: none;
    
  
  
    
	
}

#companyname{
	border-style: hidden; 
	width: 90%;
	border-bottom: 1px solid #ddd;
	border-collapse: collapse;
	margin:6px;
	text-align: center;
	font-size: larger;
}
#companyname:focus{
	border-bottom: 1px solid black;
}

#notfound{
	list-style: none;
	font-size: medium;
	font-family: sans-serif;
	color: #FF5722;
	margin: 5px;
	text-align: center;
}


#d1{
    position: absolute;
    top:-30px;
	width: 24%;
	border-top: 1px solid #CFD8DC;
	border-bottom: 2px solid #CFD8DC ;
	border-right: 1px solid #CFD8DC ;
	border-left: 1px solid #CFD8DC ;
    position: absolute;
    right:530px;
}

#alldiv{
    width:70%;
    position: absolute;
    left: 450px;
    top: 35%;
}
#tbl {
    border-collapse: collapse;
    width: 60%;
    border-spacing: 5px;
    position:absolute;
    top:100px;
}
#tbl border, tr, td {
    
 border-color: #6AB82A;

}

 #tbl th {
    font-family: inherit;
    font-weight: 100 !important;
    padding: 10px 0 10px 0;
    color: white;
    background-color: rgb(106,184,42);
}

#tbl td {
    padding: 4px 0px 4px 8px; 
    width:30%;
}

#tbl tr {
    color: black;
}

#tbl tr:hover {
    background-color: rgb(229, 249, 212);
    color: white;
}