body{
    font-family: calibri;
}
h2{
    position: absolute;
    top:55px;
    right: 500px;
    color: black; 
    font-family: SourceSansPro;
    font-size: 2.4em;
    line-height: 1em;
    font-weight: normal;
    margin: 0  0 50px 0;
}
#main{
    position: absolute;
    left:400px;
    top:200px;
}
#tbl td{
    align-content: center;
}


.result_row:hover{
    background-color: rgb(229, 249, 212);
}

#thead{
   background-color: rgb(214, 247, 185);
}

#email{
    background-color: rgb(106,184,42);
    height:25px;
    cursor: pointer;
    width:60px;
    border-radius: 4px;
    color: white;
    padding: 5px 5px;
    margin: 8px 0;
    border: none;
    margin-left:25px;
}
#cancel{
      background-color: red;
    height:25px;
    cursor: pointer;
    width:60px;
    border-radius: 4px;
    color: white;
    padding: 5px 5px;
    margin: 8px 0;
    border: none;
    
}

