@import url(http://fonts.googleapis.com/css?family=Roboto:400+700);
body {
  background: #F1FE9;
  /*font-family: Roboto;*/
  
}


#chart {
  width: 650px;
  height: 500px;
  margin: 30px auto 0;
  display: block;
}
#chart #numbers {
  width: 50px;
  height: 100%;
  margin: 0;
  padding: 0;
  display: inline-block;
  float: left;
}
#chart #numbers li {
  text-align: right;
  padding-right: 1em;
  list-style: none;
  height: 29px;
  border-bottom: 1px solid #444;
  position: relative;
  bottom: 30px;
}
#chart #numbers li:last-child {
  height: 30px;
}
#chart #numbers li span {
  color: black;
  position: absolute;
  bottom: 0;
  right: 10px;
}
#chart #bars {
  display: inline-block;
  background: #F1FE9;
  width: 100px;
  height: 300px;
  padding: 0;
  margin: 0;
  box-shadow: 0 0 0 1px #F1FE9;
}
#chart #bars li {
  display: table-cell;
  width: 50px;
  height: 300px;
  margin: 0;
  text-align: center;
  position: relative;
}
#chart #bars li .bar {
  display: block;
  width: 50px;
  margin-left: 25px;
  background: #008000;
  position: absolute;
  bottom: 0;
}
#chart #bars li .bar:hover {
  background: #FFA500;
  cursor: pointer;
}
#chart #bars li .bar:hover:before {
  color: black;
  content:  'Rs' attr(data-percentage) ;
  position: relative;
  bottom: 20px;
}
#chart #bars li span {
  font-size: 9;
  color: black;
  width: 82px;
  position: absolute;
  bottom: -2em;
  left: 0;
  text-align: center;
  margin-left:10px;
  
  
  /*transform: rotate(90deg);
  transform-origin: left top 0;*/
}
#bars{
  background-color: #F1FE9 !important;
}
h1{
    position: relative;
    left: 120px;
}